{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/listing.css' %}">
<section>
  <div class="listing_details">
    <div class="details">
      <h3>Details</h3>
      <h3>House ID: {{ listing.id }}</h3>
      <p>{{ listing.bedrooms }} Bedrooms</p>
      <p>{{ listing.bathrooms }} Bathrooms</p>
      <p>{{ listing.price }} CFA</p>
    </div>
    <div class="description">
      <h3>Description</h3>
      <p>
        {{ listing.description }}
      </p>
    </div>
    </div>


  <div class="container">
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="{{ listing.photo_1.url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="{{ listing.photo_2.url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
      <img src="{{ listing.photo_3.url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="{{ listing.photo_4.url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="{{ listing.photo_5.url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
      <img src="{{ listing.photo_6.url }}" style="width:100%">
    </div>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="row">
      <div class="column">
        <img class="demo cursor" src="{{ listing.photo_1.url }}" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
      </div>
      <div class="column">
        <img class="demo cursor" src="{{ listing.photo_2.url }}" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
      </div>
      <div class="column">
        <img class="demo cursor" src="{{ listing.photo_3.url }}" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
      </div>
      <div class="column">
        <img class="demo cursor" src="{{ listing.photo_4.url }}" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
      </div>
      <div class="column">
        <img class="demo cursor" src="{{ listing.photo_5.url }}" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
      </div>
      <div class="column">
        <img class="demo cursor" src="{{ listing.photo_6.url }}" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
      </div>
    </div>
  </div>
</section>
<button type="button" name="button"><a href="{% url 'contacts' %}?neighborhood_list={{ listing.id }}">Contact</a></button>
<script type="text/javascript" src="{% static 'js/listing.js' %}"></script>
{% endblock %}
